* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    display: flex;               /* Use Flexbox for layout */
    flex-direction: column;      /* Stack items vertically */
    justify-content: center;     /* Center vertically */
    align-items: center;         /* Center horizontally */
    background-color: white  /* Optional background color */
}

button {
    padding: 0.5rem; 
    background-color: white;
    cursor: pointer;
    margin-top: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    justify-content: center;
    color: white;
    width: 100%; 
    max-width: 700px; 
    height: auto; 
    gap: 0; 

}
.card{
    padding: 50px;
}
.card-one {
    background-color: orange;
}

.card-two {
    background-color: teal;
}

.card-three {
    background-color: rgb(4, 73, 73);
}

@media (max-width: 375px) {
    .card-container {
        gap: 10px; 
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
    }
}