
button{
   background-color: rgb(27, 109, 71);
   color: white;
   padding: 10px 20px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(2,0fr);  /*3 equal columns*/
    grid-template-rows: repeat( 1fr);
    justify-content: center;
    background-color:rgb(245, 234, 238) ;
    padding: 100px;
}
.card-right{
    background-color: white;
        height: 460px;
        width: 300px;
        padding: 20px;
        align-self: center;
}
h4 {
    color: rgb(31, 109, 50);         
    font-size: 26px;     
    text-align: left;
    font-family: Arial, sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}
@media (max-width:375px){
    .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
    gap: 10px; /* Space between grid items */
}
}