body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}
.header { 
text-align: center;
}

.card-containers {
    display: grid;
    grid-template-columns: repeat(3,0fr);  /*3 equal columns*/
    grid-template-rows: repeat( 1fr);
    gap: 10px; 
    justify-content: center
}

.card{
    background-color: white;
    border-top: 4px solid transparent ;
    border-radius: 8px;
    margin:10px;
    padding: 20px;
    box-sizing: border-box;
        height: 200px;
        width: 300px;
        align-self: center;
}

.card-one{
    border-top: 4px solid #7cb7df ;
}
.card-two{
    border-top: 4px solid #b80202 ;
}
.card-three{
    border-top: 4px solid #f5f105 ;

}
.card-four{
    border-top: 4px solid #05219b ;
}
.card h2 {
    margin-top: 0;
}

.card p {
    color: #000a0e;
}

/*positioning */
.card-one {
    grid-column: 1;
    grid-row:1 ;
    }
    .card-two {
    grid-column: 2;
    grid-row:1 ;
    }
    .card-three {
        grid-column:2 ;
        grid-row: 2;
    }
    .card-four {
    grid-column: 3;
    grid-row: 1;
    }

.cards-two-three {
        grid-column: 2;
        grid-row: 1;
        width: 350px;
        }

    .card-one{
        margin-top: 150px;
    }   
    .card-two{
        margin-top: 30px;
    }
    .card-four{
        grid-column:3 ;
        grid-row: 1;
        margin-top: 150px;
    }


@media (max-width:375px){
    .card-containers {
        grid-template-columns: 1fr; /*stack items in a single column on smaller screens*/
        grid-template-rows: repeat(4,auto);
        margin-left: auto;
        margin-right: auto;
    }

    
    .card-three {
        grid-column:1;
        grid-row: 3 ;
    }
    .card-four {
    grid-column: 1;
    grid-row: 3;
    margin-top: 0px;
}

    .cards-two-three{
        grid-column: 1;
        grid-row: 2;
    }

    }